<style>
.ml-dashboard-widget .panel-heading {
  overflow: hidden;
}
.ml-dashboard-widget .panel-body {
  overflow: auto;
}
.ml-dashboard-widget hr {
  margin-top: 7px;
  margin-bottom: 7px;
  border: 0;
  border-top: 1px solid #ddd;
}
.ml-dashboard-widget .form-control {
  height: 30px;
}
.ml-dashboard-widget .settings .form-control {
  margin-right: 10px;
}
.ml-dashboard-widget .settings input {
  width: 80px;
}
.ml-dashboard-widget .settings i.fa {
  cursor: pointer;
}
.ml-dashboard-widget .options {
  /*
  background-color: @panel-default-heading-bg;
  border: 1px solid @panel-default-border;
  border-radius: @panel-border-radius;
  */
  margin-bottom: 5px;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 5px 10px 10px;
}
.ml-dashboard-widget .options .title {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
}
.ml-dashboard-widget .dimension {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #bbb;
  background-color: #ccc;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.ml-dashboard-widget .dimension select {
  display: inline-block;
  width: auto;
}
.ml-dashboard-widget .dimension i {
  color: black;
}
</style>
<div class="col-xs-12 ml-dashboard-widget">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title pull-left">{{widget.label}}</h3>
      <div class="settings pull-right form-inline">
        <div ng-if="editing" class="form-group">
          <label>Limit</label>
          <input class="form-control" ng-model="widget.resultLimit" ng-change="updateOutput()"></input>
        </div>
        <div class="form-group">
          <select ng-if="editing" class="form-control" ng-model="widget.size">
            <option ng-repeat="ms in model.sizes">{{ms}}</option>
          </select>
        </div>
        <select ng-if="editing" class="form-control" ng-model="widget.outputType">
          <option ng-repeat="type in model.outputTypes">{{type}}</option>
        </select>
        <i ng-click="editing = !editing" class="fa fa-edit"></i>
        <i ng-click="removeWidget()" class="fa fa-times"></i>
      </div>
    </div>
    <div class="panel-body">
      <div class="editing" ng-if="editing">
        <div class="options">
          <!-- widget title -->
          <ml-dashboard-collapsible-section title="Label">
            <input class="form-control" ng-model="widget.label"/>
          </ml-dashboard-collapsible-section>
          <hr/>

          <!-- dimensions -->
          <ml-dashboard-collapsible-section title="Dimensions">
            <span class="dimension" ng-repeat="dimension in widget.dimensions">

              <div class="btn-group" dropdown>
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" dropdown-toggle>
                  {{dimension.prettyName || 'Choose Dimension'}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="section">All</li>
                  <li ng-repeat="constraint in constraints | filter:'All_'"><a href ng-click="selectDimension($parent.$index, constraint)">{{constraint.extraPrettyName}}</a></li>
                  <li class="divider"></li>
                  <li class="section">Providers</li>
                  <li ng-repeat="constraint in constraints | filter:'Provider_'"><a href ng-click="selectDimension($parent.$index, constraint)">{{constraint.extraPrettyName}}</a></li>
                  <li class="divider"></li>
                  <li class="section">Patients</li>
                  <li ng-repeat="constraint in constraints | filter:'Patient_'"><a href ng-click="selectDimension($parent.$index, constraint)">{{constraint.extraPrettyName}}</a></li>
                  <li class="divider"></li>
                  <li class="section">Claims</li>
                  <li ng-repeat="constraint in constraints | filter:'Claim_'"><a href ng-click="selectDimension($parent.$index, constraint)">{{constraint.extraPrettyName}}</a></li>
                </ul>
              </div>
              &nbsp;
              <i ng-click="removeDimension($index)" class="fa fa-lg fa-times-circle"></i>
            </span>
            <button ng-click="addDimension()" class="btn btn-sm btn-default">Add <i class="fa fa-plus"></i></button>
          </ml-dashboard-collapsible-section>
          <hr/>

          <!-- constraints -->
          <ml-dashboard-collapsible-section title="Constraints">
            <span class="dimension" ng-repeat="constraint in widget.activeConstraints">
              <div class="btn-group" dropdown>
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" dropdown-toggle>
                  {{constraint.constraint.prettyName || 'Choose Constraint'}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="section">All</li>
                  <li ng-repeat="constraint in constraints | filter:'All_'"><a href ng-click="selectConstraint($parent.$index, constraint)">{{constraint.extraPrettyName}}</a></li>
                  <li class="divider"></li>
                  <li class="section">Providers</li>
                  <li ng-repeat="constraint in constraints | filter:'Provider_'"><a href ng-click="selectConstraint($parent.$index, constraint)">{{constraint.extraPrettyName}}</a></li>
                  <li class="divider"></li>
                  <li class="section">Patients</li>
                  <li ng-repeat="constraint in constraints | filter:'Patient_'"><a href ng-click="selectConstraint($parent.$index, constraint)">{{constraint.extraPrettyName}}</a></li>
                  <li class="divider"></li>
                  <li class="section">Claims</li>
                  <li ng-repeat="constraint in constraints | filter:'Claim_'"><a href ng-click="selectConstraint($parent.$index, constraint)">{{constraint.extraPrettyName}}</a></li>
                </ul>
              </div>
              &nbsp;=&nbsp;
              <input type="text"
                ng-model="widget.activeConstraints[$index].value"
                typeahead-on-select="onSelectConstraint($item, $model, $label)"
                typeahead="suggestion for suggestion in suggest(widget.activeConstraints[$index].constraint, $viewValue)" typeahead-loading="loadingSuggestions"></input>
              &nbsp;
              <i ng-click="removeConstraint($index)" class="fa fa-lg fa-times-circle"></i>
            </span>
            <button ng-click="addConstraint()" class="btn btn-sm btn-default">Add <i class="fa fa-plus"></i></button>
          </ml-dashboard-collapsible-section>
          <hr/>

          <!-- Free text search -->
          <ml-dashboard-collapsible-section title="Search">
            <input class="form-control" ng-model="widget.query" ng-change="updateOutput()"/>
          </ml-dashboard-collapsible-section>
        </div>
      </div>
      <table class="table" ng-if="widget.outputType === 'Table'">
        <thead ng-if="model.tuples.length">
          <tr>
            <th ng-repeat="dim in widget.dimensions track by $index" ng-if="dim.name">{{dim.name}}</th>
            <th>Frequency</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tuple in model.tuples">
            <td ng-repeat="dim in widget.dimensions track by $index" ng-if="dim.name">{{tuple['distinct-value'][$index]._value}}</td>
            <td>{{tuple.frequency}}</td>
          </tr>
        </tbody>
      </table>
      <ml-dashboard-chart ng-if="widget.outputType === 'Chart'" data="model.tuples" labels="widget.dimensions" controller-name="DashChartCtrl" height="400px"></ml-dashboard-chart>
      <google-map ng-if="widget.outputType === 'Map'" markers="model.markers" options="model.mapOptions" class="map" fit="true"></google-map>
    </div>
  </div>
  </div>
</div>
