<div class="ml-dashboard">
  <div class="row">

    <div class="col-xs-12 ml-dashboard-header">
      <h3 class="pagetitle">Dashboard</h3>
      <p>
        <button ng-click="addWidget()" class="btn btn-sm btn-default">Add Widget <i class="fa fa-plus"></i></button>
        <button ng-click="saveWidgets()" class="btn btn-sm btn-default">Save Widgets <i class="fa fa-save"></i></button>
      </p>
    </div>

    <div class="col-xs-12">
      <div ml-dashboard-widget="widget"
           ng-repeat="widget in widgets"
           constraints="constraints"
           suggest="suggest"
           remove-widget="removeWidget($index)"></div>
  </div>
</div>
